@tailwind base;
@tailwind components;
@tailwind utilities;

/* Headers */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 12px;
    background-color: #0F2439;
    font-family: Roboto;
}
.logo {
    display: flex; 
    align-items: center; 
}
.logoImage {
    display: inline-block; 
    width: auto; 
    height: auto;
}
.logoImage img {
    height: 20px; 
    width: auto;
}
.logoText {
    font-size: 14px;
    color: #ffffff; 
    text-decoration: none;
}
.collegeText {
    font-size: 20px; 
    color: #a8b4c1; 
    text-decoration: none;
    font-weight: bold;
}
.separator {
    margin-left: 12px;
    margin-right: 12px; 
    height: 40px; 
    border-left: 2px solid #a8b4c1;
}
.textContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    line-height: 1.2;
}
/* Menu */
.menu {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    background-color: #252f40;
    z-index: 1000; /* Ensure it stays above other elements */
    padding: 8px 0;
    text-align: center;
    width: 100%; /* Ensure the menu takes the full width */
  }
  
.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; 
}
  
.menuItem {
    margin: 0px; 
}
.menuItem a {
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
}
  
.menuItem a:hover {
    border-bottom: 2px solid #ffffff; 
}
  
/* Font - Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.roboto-stretch {
    font-family: "Roboto", sans-serif;
    transform: scaleY(1.05);
    font-weight: 400;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}